@font-face {
  font-family: 'Qalam';
  src: url('../../fonts/AlQalamQuran.woff2') format('woff2'),
       url('../../fonts/AlQalamQuran.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-arab {
  font-family: "Qalam", Arial, Sans-Serif;
  font-size: 30px;
}
audio {
  height: 30px;
}
a {
  text-decoration: none;
}
.card, .card-header {
  border: none;
}
.card-header {
  background: #d3a0ff;
  color: #fff;
}