@font-face {
  font-family: 'Qalam';
  src: url('../../fonts/AlQalamQuran.woff2') format('woff2'),
       url('../../fonts/AlQalamQuran.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-arab {
  font-family: "Qalam", Arial, Sans-Serif;
  font-size: 2rem;
  line-height: 3rem;
}
.textLatin, .textId {
  display: none;
}
audio {
  height: 30px;
}
a {
  text-decoration: none;
}
.card, .card-header {
  border: none;
}
.card-header {
  background: #d3a0ff;
  color: #fff;
}
.verse-box {
  background: red;
  filter: drop-shadow("0px 0px 1px red");
  clip-path: polygon(50% 0, 65% 15%, 85% 15%, 85% 35%, 100% 50%, 85% 65%, 85% 85%, 65% 85%, 50% 100%, 35% 85%, 15% 85%, 15% 65%, 0 50%, 15% 35%, 15% 15%, 35% 15%);
}